/* Colours */

$light-blue: #5BC0EB;
$dark-blue: #002F83;
$light-red: #FE5F55;
$light-green: #9BC53D;
$orange: #FA7921;
$yellow-orange: #FBCA20;
$blue-green: #2AD0B8;
$dark-gray: #353535;

/* Fonts */

@font-face{
    font-family: "Avenir Book";
    src: url(../fonts/AvenirLTStd-Book.otf);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Avenir Book","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fbfbfb;
}



.topnav{
  color: $dark-gray;
  background-color: none;
  padding: 10px 0;
  margin-bottom: 0;
  border-bottom: 1px solid $dark-gray;
}

.navbar-brand{
  font-size: 50px;
  font-family: "Avenir Book","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: $dark-gray;
  font-weight: 100;
  letter-spacing: 0.1em;
  margin-top: 2%;
  &:hover{
    color: $dark-gray;
    text-decoration: none;
  }
}

.icon-block{
    display: inline;
    float: left;
}

.bar{
  padding: 10px;
  /*height: 20px;*/
  /*padding: 1px 5px;*/
}

.music-bar{
  border-bottom: 3px solid $yellow-orange;
}

.photo-bar{
  background-color: #9BC53D;
}

.education-bar{
  background-color: $light-blue;
}

.contact-bar{
  background-color: #2AD0B8;
}

.nav-primary{
  color: gray;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: 0 5px;
  &:hover, &:focus, &.active {
    color: black;
  }
}

.nav>li>a:focus,.nav>li>a:hover{
  /*border-bottom: 2px solid black;*/
  background-color: transparent;
  /*color: black;*/
}

/* Education Page */

.education {
  h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }
  .inc-line-height {
    p {
      margin-bottom: 7%;
    }
  }
}

/* Experience Page */

.experience {
  h3 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .quote {
    font-size: 15px;
  }
}



.thumb{
  width: 300px;
  height: 200px;
  margin: 15px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition-property: grayscale, filter, -webkit-filter, -o-filter;
  transition-duration: 1s;
  &:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
  }
}

.icon{
  width: 75px;
  height: 75px;
  margin: 25px auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition-property: grayscale, filter, -webkit-filter, -o-filter;
  transition-duration: 0.7s;
  &:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  }
}

.wall-thumb{
  width: 9.15em;
  margin-right: -4px;
}

.thumb:hover{
  cursor: pointer;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.home-card{
  margin-top: 50px;
  background-color: pink;
}

.bb-home:hover{
  text-decoration: none;
  color: darkred;
  border-bottom: 2px solid darkred;
}

.img-parent{
  margin-top: 5%;
}

.contact-info{
  margin-top: 35vh;
  font-size: 30px;
  a {
    color: #002F83;
    &:hover {
      color: #2AD0B8;
    }
  }
}

.index-contact {
  margin-top: 5%;
  font-size: 25px;
  transition: font-size 1s;
  -webkit-transition: font-size 1s;
  -moz-transition: font-size 1s;
  a {
    color: $dark-gray;
    // spacing gets messed up
    // &:hover {
    //   font-size: 23px;
    // }
  }
}

.img-profile{
  border-radius: 50%;
  width: 90%;
  margin: 0 auto;
  border: 2px solid $dark-gray;
}

.education-card{
  /*width: 400px;*/
  padding: 10px;
  /*display: inline-block;*/
  /*background-color: #32a26a;*/
}

.experience-card{
  padding: 5px 10px;
  box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #fedfdd;
}

.header-text{
  font-size: 16px;
  line-height: 200%;
  color: $dark-gray;
  font-weight: 200;
  a {
    color: black;
    font-weight: 400;
  }
}

h3 {
  font-weight: 500;
  margin: 40px 0;
}

.bb-15{
    margin-bottom: 15px;
}

.bb-30{
    margin-bottom: 30px;
}

.bb-60{
    margin-bottom: 60px;
}

.tb-30{
    margin-top: 30px;
}

