/* Colours */

$light-blue: #5BC0EB;
$dark-blue: #002F83;
$light-red: #FE5F55;
$light-green: #9BC53D;
$orange: #FA7921;
$yellow-orange: #FBCA20;
$blue-green: #2AD0B8;
$dark-gray: #353535;

/* Fonts */

@font-face{
    font-family: "Avenir Book";
    src: url(../fonts/AvenirLTStd-Book.otf);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Avenir Book","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fbfbfb;
  a {
    color: $dark-gray;
    &:hover {
      color: black;
    }
  }
}

h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}
h4 {
  font-weight: 300;
  font-size: 16px;
}

.hr-sm {
  width: 50%;
}

.main {
  padding-bottom: 50px;
}

.topnav{
  color: $dark-gray;
  margin-bottom: 0;
  padding: 15px 0;
}

.navbar-toggle {
  margin-top: 18px;
  padding:0;
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: gray;
    border-radius: 1px;
  }
}

.navbar-brand{
  font-size: 40px;
  font-family: "Avenir Book","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: gray;
  font-weight: 100;
  letter-spacing: 0.05em;
  &:hover{
    color: $dark-gray;
    text-decoration: none;
  }
}

.icon-block{
    display: inline;
    float: left;
}

.bar{
  padding: 10px;
  /*height: 20px;*/
  /*padding: 1px 5px;*/
}
.navbar-nav {
  li > a {
    padding: 0 15px;
  }
  .nav-primary{
    color: $dark-gray;
    font-weight: 300;
    margin: 15px 5px;
    text-align: center;
    letter-spacing: 0.05em;
    &:not(.active) {
      color: gray;
    }
    &:hover, &:focus, &.active {
      color: $dark-gray;
    }
    &.active {
      font-weight: 400;
    }
    p {
      font-size: 10px;
      margin: 0;
      letter-spacing: 0.05em;
    }

  }
}

.nav>li>a:focus,.nav>li>a:hover{
  /*border-bottom: 2px solid black;*/
  background-color: transparent;
  /*color: black;*/
}

/* Education Page */

.education {
  h4 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
  }
  .inc-line-height {
    p {
      margin-bottom: 7%;
    }
  }
}

/* Experience Page */

.experience {
  h4 {
    margin-bottom: 30px;
  }
  .quote {
    font-size: 15px;
  }
  .experience-card{
    padding: 10px;
    background-color: #ffeceb;
    border-radius: 1px;
    transition: background-color 1s;
    font-weight: 300;
    font-size: 18px;
    &:hover, .active-experience{
      box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.19);
      cursor: pointer;
      background-color: #ffcdca;
    }
  }
}

/* Music Page */

.music {
  h4 {
    font-weight: 300;
    margin-bottom: 30px;
  }
  .thumb-container {
    text-align: center;
    .wall-thumb {
      text-align: left;
      width: 12em;
      margin-right: -4px;
    }
  }
}

.thumb{
  width: 300px;
  height: 200px;
  margin: 15px;
  // filter: grayscale(100%);
  // -webkit-filter: grayscale(100%);
  // -moz-filter: grayscale(100%);
  // transition-property: grayscale, filter, -webkit-filter, -o-filter;
  // transition-duration: 1s;
  // &:hover {
  //   filter: grayscale(0);
  //   -webkit-filter: grayscale(0);
  //   -moz-filter: grayscale(0);
  // }
}

.icon{
  width: 75px;
  height: 75px;
  margin: 25px auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition-property: grayscale, filter, -webkit-filter, -o-filter;
  transition-duration: 0.7s;
  &:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  }
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.home-card{
  margin-top: 50px;
  background-color: pink;
}

.bb-home:hover{
  text-decoration: none;
  color: darkred;
  border-bottom: 2px solid darkred;
}

.img-parent{
  margin-top: 5%;
}

.contact-info{
  margin-top: 35vh;
  font-size: 30px;
  a {
    color: #002F83;
    &:hover {
      color: #2AD0B8;
    }
  }
}

.index-contact {
  margin-top: 5%;
  font-size: 25px;
  transition: font-size 1s;
  -webkit-transition: font-size 1s;
  -moz-transition: font-size 1s;
  a {
    color: $dark-gray;
    // spacing gets messed up
    // &:hover {
    //   font-size: 23px;
    // }
  }
}

.img-profile{
  border-radius: 50%;
  width: 90%;
  margin: 0 auto;
  border: 2px solid $dark-gray;
}

.education-card{
  /*width: 400px;*/
  padding: 10px;
  /*display: inline-block;*/
  /*background-color: #32a26a;*/
}

.header-text{
  font-size: 15px;
  line-height: 200%;
  color: $dark-gray;
  font-weight: 200;
  a {
    color: black;
    font-weight: 400;
  }
}

.white {
  color: white;
}

.bb-15{
    margin-bottom: 15px;
}

.bb-30{
    margin-bottom: 30px;
}

.bb-60{
    margin-bottom: 60px;
}

.tb-30{
    margin-top: 30px;
}

