<h3 class="text-center">Contact</h3>
<div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-12 img-parent text-center">
	<img class="img-responsive img-profile" src="assets/images/profile.jpg">
</div>
<div class="col-md-5 col-md-offset-1 col-xs-12 contact-info">
	<a href="mailto:yashdalal95@gmail.com" target="_blank"><i class="fa fa-envelope fa-fw fa-2x"></i></a>
	<a href="https://www.linkedin.com/in/yashdalal" target="_blank"><i class="fa fa-linkedin-square fa-fw fa-2x"></i></a>
	<a href="https://github.com/yashdalal" target="_blank"><i class="fa fa-github-square fa-fw fa-2x"></i></a>
	<a href="http://www.omfgdogs.com" target="_blank"><i class="fa fa-bolt fa-fw fa-2x"></i></a>
</div>
{{outlet}}
