<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 img-parent text-center">
				<img class="img-responsive img-profile" src="assets/images/profile.png">
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12 img-parent">
					<p class="header-text">Hey! I'm Yash. This summer I interned at a startup called <a href="https://www.launchcode.org/" target="_blank">LaunchCode</a>. I worked on the tech team with 8 other people, as a full stack developer. Through my work, I contributed towards the company's goal of helping people find jobs in tech.</p>
			    <p class="header-text">When I'm not thinking about creating things, I enjoy exploring St. Louis, finding concerts to attend, sampling new foods, and taking photos.</p>
			    <p class="header-text">This fall, I am a senior at Washington University in St Louis. I study computer science and design and am interested in web development and design, mobile app development, advertising, and entrepreneurship. I would like to use these diverse skills to become a better programmer and entrepreneur, hoping to work on both the technical and creative aspects of the projects I am engaged in.</p>
			    <div class="index-contact text-center">
						<a href="mailto:yashdalal95@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-fw fa-2x"></i></a>
						<a href="https://www.linkedin.com/in/yashdalal" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
						<a href="https://github.com/yashdalal" target="_blank"><i class="fa fa-github-square fa-fw fa-2x"></i></a>
						<a href="http://www.omfgdogs.com" target="_blank"><i class="fa fa-bolt fa-fw fa-2x"></i></a>
					</div>
			</div>
		</div>
	</div>
</div>

{{outlet}}
