<div class="container-fluid">
	<div class="col-md-6 col-xs-12 img-parent text-center">
		<img class="img-responsive img-profile" src="assets/images/profile.jpg">
	</div>
	<div class="col-md-5 col-xs-12 img-parent">
	    <p class="header-text">I am a senior at <strong>Washington University in St Louis</strong>.</p>
	    <p class="header-text">I study <strong>computer science</strong> and <strong>design</strong>.</p>
	    <p class="header-text">I am interested in <strong>front-end and back-end web development</strong>, <strong>mobile app development</strong>, <strong>communication design</strong> and <strong>entrepreneurship</strong>.</p>
	    <p class="header-text">I would like to use these diverse skills to become a better programmer and entrepreneur, hoping to work on both the technical and creative aspects of the projects I am engaged in.</p>
	    <p class="header-text">I enjoy <strong>photography</strong> and sampling <strong>new foods</strong> in my free time.</p>
	    <p>{{#link-to "education"}}Education{{/link-to}} | {{#link-to "experience"}}Experience{{/link-to}} | {{#link-to "projects"}}Projects{{/link-to}} | {{#link-to "photos"}}Photography{{/link-to}} | {{#link-to "contact"}}Contact Me{{/link-to}}.</p>
	</div>
	<br>

</div>

{{outlet}}
