
<div class="container-fluid">
	<div class="col-md-6 col-xs-12 img-parent text-center">
		<img class="img-profile" src="assets/images/profile.jpg">
	</div>
	<div class="col-md-5 col-xs-12 img-parent">
	    <p class="header-text">I am a junior at <strong>Washington University in St Louis</strong>.</p>
	    <p class="header-text">I study <strong>computer science</strong> and <strong>design</strong>.</p>
	    <p class="header-text">I am interested in <strong>front-end and back-end web development</strong>, <strong>mobile app development</strong>, <strong>communication design</strong> and <strong>entrepreneurship</strong>.</p>
	    <p class="header-text">I would like to use these diverse skills to become a better programmer and entrepreneur, hoping to work on both the technical and creative aspects of the projects I am engaged in.</p>
	    <p class="header-text">I enjoy <strong>photography</strong> and sampling <strong>new foods</strong> in my free time.</p>
	    <p class="header-text">Learn more about my {{#link-to "education" class="bb-home"}}Education{{/link-to}}, find out about my work {{#link-to "experience" class="bb-home"}}Experience{{/link-to}}, see some of the {{#link-to "projects" class="bb-home"}}Projects{{/link-to}} I have worked on, take a look at my {{#link-to "photos" class="bb-home"}}Photography{{/link-to}}, or just {{#link-to "contact" class="bb-home"}}Contact Me{{/link-to}}.</p>
	</div>
	<br>

</div>

{{outlet}}
