<div>
	<h3 class="bb-30"><i class="fa fa-music music-color"></i> Music</h3>
	<div class="col-md-7">
		{{!-- <h4>Artists seen live</h4> --}}
		{{#photo-swipe items=model as |img|}}
		  <img class="wall-thumb" src={{img.src}} alt={{img.title}}>
		{{/photo-swipe}}
	</div>
	<div class="col-md-4 col-md-offset-1">
		{{!-- <h4>Check out one of my favourite playlists</h4> --}}
		<iframe src="https://embed.spotify.com/?uri=spotify:user:1270228682:playlist:3B01IU1wZ59brX02Tpw01X" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div>

{{outlet}}
