<h3 class="text-center"><span class="underline">Music</span></h3>
<div class="row text-center">
	{{#each model as |img|}}
	  <img class="wall-thumb" src={{img.src}} alt={{img.title}}>
	{{/each}}
</div>
<div class="row">
	<div class="text-center">
		<iframe src="https://embed.spotify.com/?uri=spotify:user:1270228682:playlist:3B01IU1wZ59brX02Tpw01X&view=coverar" width="600" height="400" frameborder="0" allowtransparency="true"></iframe>
	</div>
	<iframe src="https://embed.spotify.com/?uri=spotify:user:1270228682:playlist:3B01IU1wZ59brX02Tpw01X&view=coverart" width="600" height="380" frameborder="0" allowtransparency="true"></iframe>	
</div>

{{outlet}}
