<h3 class="text-center">Photo Gallery</h3>
<div class="text-center">
	{{#photo-swipe items=model as |img|}}
	  <img class="thumb" src={{img.src}} alt={{img.title}}>
	{{/photo-swipe}}
</div>
{{outlet}}
