<div class="text-center">
	<h3 class="bb-30"><i class="fa fa-photo photo-color"></i> Photo Gallery</h3>
	{{#photo-swipe items=model as |img|}}
	  <img class="thumb" src={{img.src}} alt={{img.title}}>
	{{/photo-swipe}}
</div>
{{outlet}}
