<h3 class="text-center">photo gallery</h3>
<hr class="hr-sm">
<div class="text-center">
	{{#photo-swipe items=model as |img|}}
	  <img class="thumb" src={{img.src}} alt={{img.title}}>
	{{/photo-swipe}}
</div>
{{outlet}}
