<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h1>Projects</h1>
            <hr class="small">
        </div>
    </div>
    <div class="row" id="idealabs">
        <div class="col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">
            <h2>IDEA Labs</h2>
            <p>As webmaster of IDEA Labs, I am independently working to completely redesign the existing website, and have both creative and technical responsibility for its implementation.</p>
            <p>Live website: <a href="http://idealabsincubator.org" target="_blank">idealabsincubator.org</a></p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">
            <img class="img-project-wide" src="assets/images/idealabs1.png">
            <img class="img-project-wide" src="img/screenshots/idealabs2.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">
            <h2>iOS app for Student Life</h2>
            <p>I am part of a team of four students that is working to develop a news app for Student Life, Washington University's newspaper. We are making the app in Xcode using Objective-C.</p>
            <p>Click <a href="https://github.com/smmcmanus/studLifeApp" target="_blank">here</a> for github repository</p>
        </div>
    </div>
    <div class="row m-30">
        <div class="col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">
            <ul class="project-list">
                <li>
                    <img class="img-project" src="img/screenshots/ss1.png">
                </li>
                <li>
                    <img class="img-project" src="img/screenshots/ss3.png">
                </li>
                <li>
                    <img class="img-project" src="img/screenshots/ss4.png">
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">
            <h2>WUHack, 3rd Place</h2>
            <p>My team created a web app which helps avid concert goes plan itineraries if they need to travel to watch their favourite artists live. We used the metoer.js framework and worked with the APIs of stubhub and tripadvisor to make this.</p>
        </div>
    </div>
    <div class="row text-center m-30">
        <div class="col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">
            <img class="img-project-wide" src="img/screenshots/tripgroupie.png">
        </div>
    </div>
</div>
{{outlet}}
